{% extends "dataentry/home.html" %}

{% block title %}About Us{% endblock %}
{% block main_heading %}About Us{% endblock %}

{% block content %}

<h4>Principal investigator</h4>
<br>
<b><a href="http://www.sowi.uni-mannheim.de/lspol4/?page_id=2498" target="_blank">Prof. Sabine Carey (University of Mannheim)</a></b> leads the project, 
which funded by the ERC Grant 336019. Her research expertise is in the area of human rights violations, conflict processes and democratization.
<br>
<br>
<h4>Collaborator</h4>
<br>
<b><a href="https://www.ucl.ac.uk/political-science/people/academic/neil-mitchell" target="_blank">Prof. Neil Mitchell (University College London)</a></b>
jointly developed this guidebook with Prof. Carey and provides advice on the collection and coding of information.
<br>
<br>
<h4>Contributors</h4>
<br>
<b>Katrin Paula</b>, doctoral student at the University of Mannheim, assists with managing and organising the data collection and archiving and provides technical assistance.
<br>
Research assistants collect and summarized the information that is presented in this guidebook. 
Key contributors are <b>Berit Haupt</b>, <b>Gelila Enbaye</b>, <b>Shirin Ernst</b> and <b>Anna-Lena Hadbawnik</b>, all BA students at the University of Mannheim.
<br>
<b><a href="http://larissahaas.de" target="_blank">Larissa Haas</a></b>, MMDS student at the University of Manheim, is responsible for technical support and design.


{% endblock %}
