{% extends "aidatabase/home.html" %}
{% load static %}

{% block title %}FAIDB - Authors{% endblock %}
{% block main_heading %}Authors - Detail{% endblock %}
{% block breadcrumbs %}<a href="/">Home <i class="ion-ios-arrow-forward"></i></a></span> <span class="mr-2"><a href="/authors/">Authors <i class="ion-ios-arrow-forward"></i></a></span>{% endblock %}

{% block image %}{% endblock %}

{% block page-heading %}{{ author.lastname }}, {{ author.firstname }}{% endblock %}

{% block content %}

<table>
    <tr><td><b>Books</b></td><!--<td><b>Groups</b></td>--></tr>
    {% for item in books %}
    <tr>
        <td><a href="/books/{{ item.book_id }}/">{{ item.publish_year }}: {{ item.title }}</a></td>
    </tr>
    {% endfor %}
</table>

{% endblock %}

{% block sidebar-header %}Author Information{% endblock %}

{% block sidebar-content %}

{{ author.add_information }}

{% endblock %}

