{% extends "aidatabase/home.html" %}
{% load static %}

{% block title %}FAIDB - Books{% endblock %}
{% block main_heading %}Books - Overview{% endblock %}
{% block breadcrumbs %}<a href="/">Home <i class="ion-ios-arrow-forward"></i></a></span> <span class="mr-2"><a href="/books/">Books <i class="ion-ios-arrow-forward"></i></a></span>{% endblock %}

{% block image %}{% endblock %}

{% block page-heading %}List of Books{% endblock %}

{% block content %}

<table>
    <tr><td><b>Books</b></td><td></td><!--<td><b>Groups</b></td>--></tr>
    {% for item in result %}
    <tr>
        <td>{{ item.book.publish_year }}</td><td><a href="/books/{{ item.book.book_id }}">{{ item.book.title }}</a>, written by {% for author in item.authors %} <a href="/authors/{{ author.name }}/">{{ author.lastname }}, {{ author.firstname }}</a>; {% endfor %}</td>
    </tr>
    {% endfor %}
</table>

{% endblock %}

{% block sidebar-header %}Book Information{% endblock %}

{% block sidebar-content %}

This list provides an overview of all registered books - up until now. If you think one book is missing, request access to the administrator backend and register the book by yourself.

{% endblock %}