{% extends "dataentry/home.html" %}
{% load static %}

{% block title %}{{ country.name }}{% endblock %}
{% block main_heading %}{{ country.name }}{% endblock %}

{% block content %} 

{% if groups %}
  {% if groups2 %}

  <div class="section-top-border">
    <div class="row">
      <div class="col-md-3">
          <img src="{% static 'dataentry/militias-general.jpg' %}" alt="" title="" width="100%" />
      </div>
      <div class="col-md-9 mt-sm-20">
          <p>The coding for this case is still in progress.</p>
      </div>
    </div>
  </div>

  {% else %}
<!--<p>The following groups have been reported as active in 
{{ country.name }}: between 1981 and 2007 </p>-->

<div class="section-top-border">
    <div class="row">
      <div class="col-md-3">
          <img src="{% static 'dataentry/militias-general.jpg' %}" alt="" title="" width="100%" />
      </div>
      <div class="col-md-9 mt-sm-20">
          <table>
              <tr><td><b>Group</b></td><!--<td><b>Groups</b></td>--></tr>
              {% for item in grlist %}
              <tr>
                <td><a href="/pgag/{{ item.0.id }}">{{ item.0.name }}</a></td>
              </tr>
              {% endfor %}
            </table>
      </div>
    </div>
</div>

<!--
<p>

<table>
  {% for line in data %}
  {% if forloop.first %}
  <tr><td></td><td colspan="27"><b>Years</b></td></tr> 
  <tr>
    {% for el in line %}<td>{{ el }}</td>{% endfor %}
  </tr>
  {% else %}
  <tr>
    {% for el in line %}
    {% if forloop.first %}
    <td><a href="/militias-public/data/pgag/{{ el.id }}">{{ el.name }}</a>&nbsp;</td>
    {% else %}
    {% ifequal el "1" %}
    <td bgcolor="#0099CC"></td>
    {% else %}
    {% ifequal el "0" %}
    <td bgcolor="#E6E6E6"></td>
    {% else %}
    <td></td>
    {% endifequal %}
    {% endifequal %}
    {% endif %}
    {% endfor %}
  </tr>
  {% endif %}
  {% endfor %}
</table>
</p>

<h3>Key</h3>
<p>Blue squares indicate that the group was active in that year. Each blue square is supported by at least one piece of evidence in the PGMD. Grey squares indicate the time between the formation and termination of the group when no activity was recorded. Where the termination date is unknown, the group is shaded grey until the end of the period. Select the group names for more detail.</p>

-->
  {% endif %}
{% else %}
<div class="section-top-border">
  <div class="row">
    <div class="col-md-3">
        <img src="{% static 'dataentry/militias-general.jpg' %}" alt="" title="" width="100%" />
    </div>
    <div class="col-md-9 mt-sm-20">
      <p>No groups are reported active between 1981 and 2014.</p>
    </div>
  </div>
</div>
    
  
{% endif %}



{% endblock %}
