{% extends "aidatabase/home.html" %}

{% block title %}Links{% endblock %}
{% block main_heading %}Links{% endblock %}

{% block breadcrumbs %}{% endblock %}

{% block image %}{% endblock %}

{% block page-heading %}{% endblock %}

{% block content %}

<ul>
    <li>
        <a href="">CCC Talk by Polaris</a>
    </li>
    <li>
        <a href="">Research Project by KIT</a>
    </li>
    <li>
        <a href="https://github.com/LarissaHa/ai-master-thesis">Complete Dataset and Content of my Thesis</a>
    </li>
</ul>

{% endblock %}

{% block sidebar-header %}{% endblock %}
{% block sidebar-content %}{% endblock %}