{% extends "aidatabase/home.html" %}
{% load static %}

{% block title %}FAIDB - Links{% endblock %}
{% block main_heading %}Links{% endblock %}

{% block breadcrumbs %}{% endblock %}

{% block image %}{% endblock %}

{% block page-heading %}{% endblock %}

{% block content %}

<ul>
    <li>
        <a href="https://www.youtube.com/watch?v=XvH-Vpl5PeY" target="_blank">CCC Talk by Polaris</a>
    </li>
    <li>
        <a href="https://social-cues.org/" target="_blank">Chatbot Research Social Cue Design KIT</a>
    </li>
    <li>
        <a href="https://github.com/LarissaHa/ai-master-thesis" target="_blank">Complete Dataset and Content of my Thesis</a>
    </li>
</ul>

{% endblock %}

{% block sidebar-header %}{% endblock %}
{% block sidebar-content %}
<ul>
    <li>
        <a href="/project/">About the Project</a>
        <ul>
            <li><a href="/project/thesis/">My Master Thesis</a></li>
            <li><a href="/project/presentations/">Recent Presentations</a></li>
            <li><a href="/project/links/"><b>Interesting Links</b></a></li>
        </ul>
    </li>
</ul>
{% endblock %}