{% extends "dataentry/home.html" %}

{% block title %}The Militias Guidebook{% endblock %}
{% block main_heading %}The Militias Guidebook{% endblock %}

{% block content %}
A Catalogue of Pro-government Militias Worldwide between 1981-2014
<br>
<br>
<h4>Sources</h4><br>

This guidebook uses a wide range of sources to catalogue pro-government militias (PGMs). <b>Academic research</b>, 
human rights reports and open-source encyclopedias are systematically evaluated. We searched for scholarly 
articles that are published in peer-reviewed journals through the Web of Science, but also used academic books 
on militias. <b>Reports</b> by Amnesty International and Human Rights Watch are systematically examined for relevant 
information, as well as other related <b>collections</b> of materials on militias, including the Stanford ‘Mapping 
Militant Organizations Project’ and Wikipedia. <br>
We also draw on the <b>Pro-Government Militias Database</b> (PGMD) (<a href="https://www.militias-database.com">militias-database.com</a>) 
for additional information. The PGMD uses news sources to code group
characteristics and is maintained by the same research team that is behind the Pro-Government Militias Guidebook.
<br><br>
<h4>Search procedure</h4><br>

The research team explores the sources for the term “militias” and specific names of groups that are listed in the Pro-Government Militias Database, using alternative spellings and names where appropriate. 
<br><br>
<h4>Summaries</h4><br>

Drawing on the relevant materials, we provide information to the following questions about pro-government militias. When answering the questions we rely on the sources mentioned above. We collect and summarize the sources to the best of our knowledge but we cannot guarantee the accuracy or completeness of the information. 
<br><br>
<h5>Origin</h5><br>

How and when was the group created? Who was the driving force behind it? Did the group develop from within society or was it created top-down by a state institution?
<br><br>
<h5>Termination</h5><br>

When, how and why did the militia cease to exist? Was the group disarmed, abandoned by the government or integrated into the regular security apparatus?
<br><br>
<h5>Purpose</h5><br>

What is the main stated purpose of the militia? Why did the government create or align with this group? How successful was the militia in achieving its original purpose?
<br><br>
<h5>Organization</h5><br>

How is the group organized? Whom do the sources identify as its leader?
<br><br>
<h5>Weapons and training</h5><br>

What types of weapons do the militia members reportedly use and how did they obtain these weapons? Were the members trained and if so, by whom?
<br><br>
<h5>Size</h5><br>

How many members does the group have? Do different sources report different group strengths, possible at different points in time?
<br><br>
<h5>Reason for membership</h5><br>

What types of individuals are part of the militia and why did they join? Were they coerced or paid to participate? Did the group suffer any casualties?
<br><br>
<h5>Treatment of civilians</h5><br>

How does the militia behave towards civilians and non-military targets? Does it protect civilians from crime or other armed groups? Does it use violence against civilians, and if so, what kind? How does the government respond to potential predatory behavior of the militia members?
<br><br>
<h5>Other</h5><br>

This field summarizes any other related information found in the sources.
<br><br>
<h5>References</h5><br>

This field lists the sources that were used to write the summaries. 
<br><br>
<h4>Funding</h4><br>

This project is funded by the European Research Council under the EU's Seventh Framework Programme (FP7/2007-2013)/ERC Grant Agreement No. 336019.

{% endblock %}
