{% extends "aidatabase/home.html" %}
{% load static %}

{% block title %}FAIDB - Authors{% endblock %}
{% block main_heading %}Authors - Overview{% endblock %}
{% block breadcrumbs %}<a href="/">Home <i class="ion-ios-arrow-forward"></i></a></span> <span class="mr-2"><a href="/authors/">Authors <i class="ion-ios-arrow-forward"></i></a></span>{% endblock %}

{% block image %}{% endblock %}

{% block page-heading %}List of Authors{% endblock %}

{% block content %}

<table>
    <tr><td><b>Authors</b></td><!--<td><b>Groups</b></td>--></tr>
    {% for item in authors %}
    <tr>
        <td><a href="/authors/{{ item.person_id }}/">{{ item.lastname }}, {{ item.firstname }}</a></td>
    </tr>
    {% endfor %}
</table>

{% endblock %}

{% block sidebar-header %}Author Information{% endblock %}

{% block sidebar-content %}

This list provides an overview of all registered authors - up until now. If you think one author is missing, request access to the administrator backend and register the author by yourself.

{% endblock %}

