{% extends "dataentry/home.html" %}

{% block title %}Search Countries{% endblock %}

{% block main_heading %}Search Countries by Name{% endblock %}

{% block content %}

<p> 
<form action="." method="GET">
    <input type="text" name="q" value="{{ query|escape }}">
    <input type="submit" value="Search">
</form>
</p>

<p>Alternatively you can browse a <a href="/countries/">complete list</a>.</p>


  {% if query %}
    <h3>Country names containing "{{ query|escape }}":</h3>

    {% if results %}
      <table>
      {% for c in results %}
        <tr><td><a href="/country/{{ c.id }}">{{ c.name }}</a></td></tr>
      {% endfor %}
      </table>
    {% else %}
      <p>No countries found</p>
    {% endif %}
  {% endif %}

{% endblock %}

