{% extends "aidatabase/home.html" %}
{% load static %}

{% block title %}FAIDB - Thesis{% endblock %}
{% block main_heading %}Thesis Results{% endblock %}

{% block breadcrumbs %}{% endblock %}

{% block image %}{% endblock %}

{% block page-heading %}{% endblock %}

{% block content %}

<p>If the embedding below is not displayed correctly, please <a href="https://github.com/LarissaHa/ai-master-thesis/blob/master/The-Portrayal-of-AI-in-SF.pdf" target="_blank">
visit my github repository</a>. You can find there the thesis PDF, the dataset as well as the questionnaire that was used
to generate the data.</p>

<embed src="{% static 'aidatabase/The-Portrayal-of-AI-in-SF.pdf' %}" type="application/pdf" width="100%" height="950px" />

<a href="{% static 'aidatabase/The-Portrayal-of-AI-in-SF.pdf' %}" target="_blank">Download</a>

{% endblock %}

{% block sidebar-header %}{% endblock %}
{% block sidebar-content %}
<ul>
    <li>
        <a href="/project/">About the Project</a>
        <ul>
            <li><a href="/project/thesis/"><b>My Master Thesis</b></a></li>
            <li><a href="/project/presentations/">Recent Presentations</a></li>
            <li><a href="/project/links/">Interesting Links</a></li>
        </ul>
    </li>
</ul>
{% endblock %}